<%= form_for :session, url: session_path do |form| %>
<<<<<<< HEAD
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
=======
  <div class="email">

    <%= form.email_field :email, placeholder: "Email" %>
  </div>
  <div class="password">
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
  <div class="button">
>>>>>>> c9e7cbf676601e0ecb572f78b175a78adaa849cc
    <%= form.submit "Sign in" %>
  </div>
<% end %>
