<b>Listings</b>
<%=form_for @listing do |f|%>
<%=f.text_field :description%>
<%=f.text_field :name%>
<%=f.text_field :image_url%>
<%=f.text_field :location%>
<%end%>


<%@listings.each do |rental|%>
    <div>
      <div>
        <%=link_to listing_path(rental) do
        image_tag(rental.image_url)
        end %>
      </div>
      <div>
        <%=link_to rental.name, listing_path(rental)%> 
      </div>
      <div>
        <%=rental.location%>
      </div>
    </div>
  <%end%>
