  <h1>Welcome to Rentr</h1>
  <% if current_user == @listing.user %>
    <p> Start Leasing! </p>
  <% else %>
    <p> Start Renting! </p>
  <% end %>

  <div>

    <%= image_tag @listing.main_image.url(:medium) %>
  </div>

  <div>

    <%= @listing.name %>
  </div>

  <div>
    <%= @listing.description %>
  </div>

  <div>
    <%= @listing.full_street_address%>
  </div>

  <div>
    <% @listing.date_ranges.each do |range| %>
    <p> Start Availability Date: <p>
    <%= range.start_date %>
    <p> End Availability Date: <p>
    <%= range.end_date %>
    <p> Posted by: <p>
    <%= current_user.email %>
    <% end %>
  </div>

  <% if current_user == @listing.user %>
  <div>
    <%= link_to "Delete", listing_path(@listing.id), method: "delete"%>  
  </div>
  <div>
    <%= link_to "Dates", new_listing_date_range_path(@listing) %>
  </div>
  <% end %>
